<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="dashboard">
      <ion-icon src="assets/icon/icon-dashboard.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="reservas">
      <ion-icon src="assets/icon/icon-reservas.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="clases">
      <ion-icon src="assets/icon/icon-clases.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="plans">
      <ion-icon src="assets/icon/icon-pagos.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="perfil">
      <ion-icon src="assets/icon/icon-profile.svg"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>


</ion-tabs>
