<ion-tabs>
  <ion-tab icon="assets/icon/icon-dashboard.svg" href="/home/(dashboard:dashboard)">
    <ion-router-outlet name="dashboard"></ion-router-outlet>
  </ion-tab>
  <ion-tab icon="assets/icon/icon-reservas.svg" href="/home/(reservas:reservas)">
    <ion-router-outlet name="reservas"></ion-router-outlet>
  </ion-tab>
  <ion-tab icon="assets/icon/icon-clases.svg" href="/home/(clases:clases)">
    <ion-router-outlet name="clases"></ion-router-outlet>
  </ion-tab>
  <ion-tab icon="assets/icon/icon-pagos.svg" href="/home/(pagos:pagos)">
    <ion-router-outlet name="pagos"></ion-router-outlet>
  </ion-tab>
</ion-tabs>
