<app-navbar titulo="Tu Perfil"></app-navbar>

<ion-content padding>

  <div class="persona-card">
    <ion-grid>
      <ion-row>
        <ion-col size="3" class="persona-item-img">
          <div class="avatar-container">
            <img class="persona-avatar" src="assets/img/image.jpg">
          </div>
        </ion-col>
        <ion-col size="9" class="persona-item-data">
          <h1 class="persona-nombre">Pablo Rioseco</h1>
          <h5 class="persona-plan">Plan Full Fit</h5>
          <p class="persona-vencimiento">Vencimiento 21 de Julio</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="plan-resumen">
    <div class="card card-info">
      <ion-grid>
        <ion-row>
          <ion-col class="info-item" text-center>
            <p class="digit">21</p>
            <p><b>Clases<br>Asistidas</b></p>
          </ion-col>
          <ion-col class="info-item" text-center>
            <p class="digit">14</p>
            <p><b>Clases<br>Restantes</b></p>
          </ion-col>
          <ion-col class="info-item" text-center>
            <p class="digit">01</p>
            <p><b>Clases<br>Perdidas</b></p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <div class="section">
    <div class="card-datos">
      <h1 class="title-section">Datos</h1>
      <div class="datos-item">
        <h5>Género</h5>
        <p>Hombre</p>
      </div>
      <div class="datos-item">
        <h5>Correo</h5>
        <p>pablo.rioseco@auditcon.cl</p>
      </div>
      <div class="datos-item">
        <h5>Cumpleaños</h5>
        <p>6 de Marzo</p>
      </div>
      <div class="datos-item">
        <h5>Dirección</h5>
        <p>Calle Valle del Mar #3320</p>
      </div>
    </div>
  </div>

</ion-content>
