<app-navbar titulo="Tu Perfil"></app-navbar>

<ion-content padding>

  <div class="persona-card">
    <ion-grid>
      <ion-row>
        <ion-col size="3" class="persona-item-img">
          <div class="avatar-container" (click)="selectImageFromCamera()">
            <!-- src="assets/img/image.jpg" -->
            <img class="persona-avatar" [src]="base64Image">
          </div>
        </ion-col>
        <ion-col size="9" class="persona-item-data">
          <h1 class="persona-nombre">{{user?.nombre}} {{user?.apellido}}</h1>
          <h5 class="persona-plan">{{user_plan?.nombrePlan}}</h5>
          <p class="persona-vencimiento">{{user_plan?.vencimiento}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="plan-resumen">
    <div class="card card-info">
      <ion-grid>
        <ion-row>
          <ion-col class="info-item" text-center>
            <p class="digit">{{ user.rels?.stats.clases_consumed}}</p>
            <p><b>Clases<br>Asistidas</b></p>
          </ion-col>
          <ion-col class="info-item" text-center>
            <p class="digit">{{ user.rels?.stats.clases_quantity}}</p>
            <p><b>Clases<br>Restantes</b></p>
          </ion-col>
          <ion-col class="info-item" text-center>
            <p class="digit">{{ user.rels?.stats.clases_lost}}</p>
            <p><b>Clases<br>Perdidas</b></p>
          </ion-col>
        
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <div class="section">
    <div class="card-datos">
      <h1 class="title-section">Datos</h1>
      <div class="datos-item">
        <h5>Género</h5>
        <p>{{user?.genero}}</p>
      </div>
      <div class="datos-item">
        <h5>Correo</h5>
        <p>{{user?.correo}}</p>
      </div>
      <div class="datos-item">
        <h5>Cumpleaños</h5>
        <p>{{user?.fechaNacimiento}}</p>
      </div>
      <div class="datos-item">
        <h5>Dirección</h5>
        <p>{{user?.direccion}}</p>
      </div>
    </div>
  </div>

</ion-content>
