<app-navbar titulo="Nueva Reserva"></app-navbar>

<ion-content padding>

  <div class="reserva">
    <h1 class="titleReserva-section margin-bottom" *ngIf="(clase.active) && (clase.rels.auth_reservation.can) && (!clase.rels.auth_reservation.has)">
      Estás a un paso de reservar
    </h1>
    <h1 class="titleReserva-section margin-bottom" *ngIf="!(clase.active) || !(clase.rels.auth_reservation.can) || (clase.rels.auth_reservation.has) " >
      Clase
    </h1>

    <h4 class="date-section">
      {{clase.typeName}}<br>
      {{clase.dateHuman}}<br>
      {{clase.start}} - {{clase.end}} hrs
    </h4>

    <div class="cupos">
      <h5>Cupos</h5>
      <div class="cupos-wrapper ps-row">
        <div class="col-5 cupos-item">{{clase.quota - clase.rels?.reservations.count}} Disponibles</div>
        <div class="col-7 cupos-item">{{clase.rels?.reservations.count}} Reservados</div>
      </div>
    </div>

    <div class="card card-crossfiters">
      <div class="title">
        <h5>Crossfiters en esta Clase</h5>
      </div>
      <div class="content">

        <div class="ps-row item-crossfiters" *ngFor="let reservation of reservations" >
          <div class="col-2 item-img">
            <img src="{{reservation?.rels.user.avatar}}" tappable (click)="openPreview(reservation?.rels.user.avatar)">
          </div>
          <div class="col-10 item-data">
            <h6>{{reservation?.rels.user.first_name}} {{reservation?.rels.user.last_name}}</h6>
            <p>{{reservation?.status}}</p>
          </div>
        </div>

      </div>
    </div>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreUsers($event)">
       <ion-infinite-scroll-content
         loadingSpinner="bubbles"
         loadingText="Cargando usuarios...">
       </ion-infinite-scroll-content>
     </ion-infinite-scroll>

  </div>

  <ion-fab [ngClass]="buttonFixIOS" vertical="bottom" slot="fixed" *ngIf="clase.active">
    <div class="reservar" (click)="openModal()">
      Reservar esta hora
    </div>
  </ion-fab>

</ion-content>

<ion-footer>

  <div [ngClass]="buttonFixAndroid" *ngIf="(clase.active) && (clase.rels.auth_reservation.can) && (!clase.rels.auth_reservation.has)">
    <button class="reservar" (click)="openModal()">Reservar esta hora</button>
  </div>

</ion-footer>
