<app-navbar titulo="Dashboard"></app-navbar>

<ion-content padding>

<!-- alerta de clase pendiente -->
  <p>Este es el último commit 16:27</p>
  <div class="card card-alert" *ngIf="alerts.has_confirmation" (click)="goToEditConfirm(alerts.confirmation.clase_id)">
    <ion-grid>
      <ion-row>
        <ion-col size="2">
          <ion-icon name="information-circle"></ion-icon>
        </ion-col>
        <ion-col class="text">
          <p>
            Tienes una clase reservada a las {{alerts.confirmation.start}} ¡Confírma tu asistencia!
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="plan-resumen">
    <h1 class="plan-title">{{user.rels?.active_plan.plan}}</h1>
    <p class="plan-vencimiento">{{user.rels?.active_plan.expiration}}</p>
    <div class="card card-info">
      <ion-grid>
        <ion-row>
          <ion-col class="info-item" text-center>
            <p class="digit">{{ user.rels?.stats.clases_consumed}}</p>
            <p><b>Clases<br>Asistidas</b></p>
          </ion-col>
          <ion-col class="info-item" text-center>
            <p class="digit">{{ user.rels?.stats.clases_quantity}}</p>
            <p><b>Clases<br>Restantes</b></p>
          </ion-col>
          <ion-col class="info-item" text-center>
            <p class="digit">{{ user.rels?.stats.clases_lost}}</p>
            <p><b>Clases<br>Perdidas</b></p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <div class="section ">
    <h1 class="title-section">W.O.D</h1>
    <div class="card card-resumen">
      <div class="text-box-resumen">
        <p *ngIf="today?.wod?.has" >
          {{today?.wod?.stages.wod}}
        </p>
        <p *ngIf="!today?.wod?.has" >
         No hay WOD registrado para el dia de hoy.
        </p>
      </div>
      <button class="button-bottom" (click)="verWOD()">Ver Clase del día</button>
    </div>
  </div>

  <div class="section">
    <h1 class="title-section">Tu Asistencia</h1>
    <div class="card card-asistencia">
      <p>Asistencia</p>
    </div>
  </div>

</ion-content>
