<ion-content padding>

  <div class="confirm-modal-content">
    <ion-icon name="{{ this.buttonIcon }}"></ion-icon>
    <!-- <ion-icon name="checkmark-circle"></ion-icon> -->
    <h1>{{ this.title }}</h1>
    <p>{{ this.message }}</p>

    <button class="confirm-modal-button" *ngIf="this.buttonActionAdd" ion-button block (click)="reserve(this.claseId)">Ok</button>
    <button class="confirm-modal-button" *ngIf="this.buttonActionRemove" ion-button block (click)="remove(this.claseId)">Ok</button>
    <button class="confirm-modal-button" *ngIf="this.buttonActionEdit" ion-button block (click)="edit(this.claseId)">Ok</button>
  </div>

</ion-content>
