<app-navbar titulo="Tus Pagos"></app-navbar>

<ion-content padding>
  <div class="section">

    <div class="card-pago">
      <div class="ps-row pago-up">
        <div class="col-8">
          <h2>21 de Junio 2018</h2>
          <p>Mensual</p>
        </div>
        <div class="col-4" text-end>
          <img class="icon-check" src="assets/icon/check.png">
        </div>
      </div>
      <div align-items-end class="ps-row pago-bottom">
        <div class="col-8">
          <p>
            <b>Pagado el</b><br>
            21/06/18<br>
            Transferencia Bancaria
          </p>
        </div>
        <div class="col-4" text-end>
          <h4>$45.000</h4>
        </div>
      </div>
    </div>

    <div class="card-pago">
      <div class="ps-row pago-up">
        <div class="col-8">
          <h2>21 de Junio 2018</h2>
          <p>Mensual</p>
        </div>
        <div class="col-4" text-end>
          <img class="icon-check" src="assets/icon/check.png">
        </div>
      </div>
      <div align-items-end class="ps-row pago-bottom">
        <div class="col-8">
          <p>
            <b>Pagado el</b><br>
            21/06/18<br>
            Transferencia Bancaria
          </p>
        </div>
        <div class="col-4" text-end>
          <h4>$45.000</h4>
        </div>
      </div>
    </div>

  </div>
</ion-content>
