<app-navbar titulo="Nueva Reserva"></app-navbar>

<ion-content padding>

  <!-- <ion-button (click)="goToAddHour()"></ion-button> -->
  <div class="reserva">

    <h1 class="titleReserva-section">Selecciona una Clase</h1>

    <div class="section grid-days">

      <div class="item-day" text-center>
        <h1></h1>
        <img src="">
        <p>CrossFit</p>
      </div>
      <div class="item-day" text-center>
        <h1></h1>
        <img src="">
        <p>Hit</p>
      </div>

    </div>

  </div>

</ion-content>