<section padding class="auth-content">
  <div class="auth-inner">

    <div class="logo-auth-container">
      <img class="logo-auth" src="assets/img/ps_logo.png" alt="Pura Sangre Crossfit">
    </div>
    <form (ngSubmit)="sendForgot()" #registerForm="ngForm">
      <div class="form-inner">

        <div class="a-input">
          <p class="texto-forgot">Ingresa tu correo para poder restablecer tu contraseña</p>
          <span class="icon-input-auth icon-auth-mail"></span>
          <input type="text" autocapitalize="none" class="input-email" placeholder="Correo" name="email" [(ngModel)]="registerCredentials.email" required>
        </div>

      </div>
      <ion-col class="signup-col">

        <button class="submit-login-auth" [disabled]='disabled' full type="submit" expand="block">Enviar</button>
        <!-- <ion-button (click)="openModalForgot()">Enviar</ion-button> -->

        <br><br>

        <a class="link-forget" (click)="backToLogin()">Volver</a>

      </ion-col>
      <!-- <ion-col>
        <span>{{this.alert}}</span>
      </ion-col> -->
    </form>

  </div>
</section>
