// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {

  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56,128,255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12,209,232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112,68,255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16,220,96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255,206,0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255,255,255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245,61,61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,34,34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,244,244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-toolbar-background-color: linear-gradient(180deg, #0075C9 0%, #00BFC9 100%);
  --ion-toolbar-text-color: white;
  --ion-toolbar-border-color-rgb: transparent;
  --ion-tabbar-background-color: linear-gradient(95.73deg, #01BCC8 0.75%, #0396B6 81.3%);
  --ion-tabbar-text-color: transparent;
  --ion-tabbar-text-color-active: transparent;
  --ion-font-family: 'Ubuntu', sans-serif;

  --ion-padding: 18px;
  // --ion-master-content-padding: 22px 18px 18px 18px;
  // padding: 22px;
  // --ion-padding: 22px 18px 18px 18px;
  // --padding-start: 18px;
  // --padding-end: 18px;
  --padding-top: 80px;
  // --padding-bottom: 500px;
  // --padding-top: 21px;

  // --ion-currentColor: transparent;

}

.master-content {
  margin-top: 12px;
}

/* Animation buttonGradient */
@-webkit-keyframes buttonGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}
@-moz-keyframes buttonGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}
@-o-keyframes buttonGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}
@keyframes buttonGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}

/* Animation buttonGradientSuccess */
@-webkit-keyframes buttonGradientSuccess {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}
@-moz-keyframes buttonGradientSuccess {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}
@-o-keyframes buttonGradientSuccess {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}
@keyframes buttonGradientSuccess {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}

.sky-gradient {
  background: linear-gradient(95.73deg, #01BCC8 0.75%, #0396B6 81.3%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo {
  width: 120px;
  display: block;
}

.section {
  margin: 0;
  margin-bottom: 34px;
  .title-section {
    font-size: 21px;
    font-weight: 700;
    margin-top: 0;
  }
}

.card {
  border-radius: 4px;
}

.card-alert {
  padding: 5px 12px;
  color: white;
  margin-bottom: 32px;
  background: linear-gradient(153.33deg, #FC0F85 6.69%, #9300AB 88.08%);
  -webkit-box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
  ion-icon {
    font-size: 30px;
  }
  .text {
    p {
      margin: 0;
      font-size: 15px;
      line-height: 18px;
    }
  }
}

.plan-resumen {
  margin: 0;
  margin-bottom: 32px;
  border-radius: 4px;
  h1.plan-title {
    font-weight: 700;
    font-size: 28px;
    background: linear-gradient(153.33deg, #FC0F85 6.69%, #9300AB 88.08%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 2px;
    margin-top: 4px
  }
  p.plan-vencimiento {
    margin: 0;
    font-weight: 700;
    margin-bottom: 14px;
    font-size: 14px;
  }
  .card-info {
    background: #F2F2F2;
    padding-top: 5px;
    padding-bottom: 7px;
    border: solid 1px rgba(black, 0.05);
    box-shadow: none;
    .info-item {
      p {
        margin: 0;
        font-size: 14px;
      }
      p.digit {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 3px;
        background: linear-gradient(153.33deg, #FC0F85 6.69%, #9300AB 88.08%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}

.card-resumen {
  background: #F2F2F2;
  position: relative;
  // padding: 24px 21px 50px 21px;
  overflow: hidden;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  transition: all ease 0.2s;
  &:focus,
  &:hover,
  &:active {
    -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0);
  }
  .input-notas-day {
    width: 100%;
    height: 120px;
    padding: 24px 21px;
    margin-bottom: 51px;
    background: transparent;
    border: none;
    outline: none;
  }
  .text-box-resumen {
    width: 100%;
    padding: 24px 21px;
    padding-bottom: 51px;
    // margin-bottom: 51px;
    background: transparent;
    p {
      padding-top: 0;
      margin-top: 0;
      font-size: 14px;
      line-height: 18px;
    }
  }
  .button-bottom {
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    display: block;
    width: 100%;
    // margin-top: 21px;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 15px;
    font-weight: 700;
    color: white;
    // background: linear-gradient(108.43deg, #2CB70A 11.38%, #35AF17 63.4%);
    background: linear-gradient(161.62deg, #FC0F85 6.69%, #9300AB 88.08%);
  }
  .button-success {
    background: linear-gradient(108.43deg, #2CB70A 11.38%, #35AF17 63.4%);
  }
}

.clases-cards {
  .clase-card {
    cursor: pointer;
    padding: 7px 25px 7px 11px;
    background: #F2F2F2;
    margin-bottom: 10px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.2);
    transition: all ease 0.2s;
    h2 {
      margin: 0;
      font-weight: 700;
      font-size: 18px;
      margin-top: 0;
      margin-bottom: 2px;
    }
    p {
      margin: 0;
      font-size: 14px;
    }
    &:active,
    &:focus,
    &:hover {
      // background: #565353;
      -webkit-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0);
      -moz-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0);
      box-shadow: 0px 3px 11px rgba(0, 0, 0, 0);
    }
  }
  .today {
    color: white;
    background: linear-gradient(312deg, #fc0f85, #9300ab);
    background-size: 200% 200%;
    -webkit-animation: buttonGradient 3s ease infinite;
    -moz-animation: buttonGradient 3s ease infinite;
    -o-animation: buttonGradient 3s ease infinite;
    animation: buttonGradient 3s ease infinite;
  }
  ion-icon {
    font-size: 30px;
    padding-right: 2px;
  }
}

.card-pago {
  background: #F2F2F2;
  border-radius: 4px;
  padding: 10px 12px;
  margin-bottom: 12px;
  border: solid 1px rgba(black, 0.05);
  h2 {
    margin: 0;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 2px;
  }
  h4 {
    margin: 0;
    font-weight: 700;
  }
  p {
    margin: 0;
    font-size: 15px;
    line-height: 20px;
  }
  .pago-bottom {
    padding-top: 18px;
  }
  .icon-inner {
    stroke: transparent !important;
  }
  img.icon-check {
    width: 24px;
  }
}

.clase-page {
  h1.titleDay-section {
    margin: 0;
    margin-top: 4px;
    font-weight: 700;
    font-size: 26px;
    width: 80%;
    margin-bottom: 6px;
  }
  h4.hour-section {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
  }
  .card-resumen {
    p {
      line-height: 20px;
    }
  }
  .card-info {
    background: #F2F2F2;
    border-radius: 4px;
    font-size: 15px;
    border: solid 1px rgba(black, 0.05);
    .info-content {
      padding: 10px 18px;
      h3 {
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 6px;
      }
      p {
        margin-top: 13px;
        margin-bottom: 26px;
      }
    }
  }
}

.reserva {
  .titleReserva-section {
    margin: 0;
    font-weight: 700;
    width: 80%;
    margin-bottom: 24px;
  }
  .grid-hours {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .item-hour {
      background: #F2F2F2;
      border-radius: 4px;
      width: 48%;
      margin-bottom: 4%;
      cursor: pointer;
      -webkit-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.2);
      transition: all ease 0.2s;
      &:active,
      &:focus,
      &:hover {
        -webkit-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0);
        -moz-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0);
        box-shadow: 0px 3px 11px rgba(0, 0, 0, 0);
      }
    }
    .disabled {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      cursor: not-allowed;
      p {
        color: gray;
      }
      &:active,
      &:focus,
      &:hover {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
      }
    }
  }
  .grid-days {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .item-day {
      background: #F2F2F2;
      border-radius: 4px;
      width: 48%;
      margin-bottom: 4%;
      padding: 21px 0;
      cursor: pointer;
      -webkit-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.2);
      transition: all ease 0.2s;
      p {
        margin: 0;
        // font-weight: 700;
      }
      h1 {
        font-weight: 700;
        margin: 0;
        font-size: 38px;
      }
      &:active,
      &:focus,
      &:hover {
        -webkit-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0);
        -moz-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0);
        box-shadow: 0px 3px 11px rgba(0, 0, 0, 0);
      }
    }
    .disabled {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      cursor: not-allowed;
      p {
        color: gray;
      }
      h1 {
        color: gray;
      }
      &:active,
      &:focus,
      &:hover {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
      }
    }
    .today {
      color: white;
      background: linear-gradient(312deg, #fc0f85, #9300ab);
      background-size: 200% 200%;
      -webkit-animation: buttonGradient 3s ease infinite;
      -moz-animation: buttonGradient 3s ease infinite;
      -o-animation: buttonGradient 3s ease infinite;
      animation: buttonGradient 3s ease infinite;
    }
  }
  .margin-bottom {
    margin-bottom: 6px;
  }
  .date-section {
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 24px;
  }
  .cupos {
    margin-bottom: 24px;
    h5 {
      font-weight: 700;
      font-size: 16px;
      margin: 0;
      margin-bottom: 4px;
    }
    .cupos-wrapper {
      display: flex;
      flex-wrap: nowrap;
      .cupos-item {
        width: 50&;
        font-weight: 300;
        padding: 0;
        margin: 0;
        font-size: 15px;
      }
    }
  }
  .buttons-edit-reserva {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 18px;
    .button-edit {
      width: 100%;
      border-radius: 3px;
      background: linear-gradient(92.33deg, #FF3F33 1.14%, #D41D12 99.87%);
      color: white;
      font-size: 15px;
      font-weight: 700;
      padding: 14px 0;
      cursor: pointer;
      -webkit-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.2);
      transition: all ease 0.2s;
      outline: none;
      &:active,
      &:focus,
      &:hover {
        -webkit-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0);
        -moz-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0);
        box-shadow: 0px 3px 11px rgba(0, 0, 0, 0);
      }
    }
  }
  .card-crossfiters {
    background: #F2F2F2;
    border-radius: 4px;
    border: solid 1px rgba(black, 0.05);
    .title {
      padding: 14px 16px;
      border-bottom: solid 1px rgba(black, 0.05);
      h5 {
        margin: 0;
        font-weight: 700;
      }
    }
    .content {
      padding: 10px 10px;
      .item-crossfiters {
        margin-bottom: 7px;
        &:last-child {
          margin-bottom: 0;
        }
        .item-img {
          img {
            border-radius: 30px;
          }
        }
        .item-data {
          padding-left: 10px;
          h6 {
            margin: 0;
            font-weight: 700;
            font-size: 16px;
            margin-bottom: 2px;
          }
          p {
            margin: 0;
            font-weight: 300;
            font-size: 15px;
          }
        }
      }
    }
  }
}

// @-webkit-keyframes animationbutton {
//   0% {bottom: -20px;}
//   100% {bottom: -2px;}
// }
//
// @-moz-keyframes animationbutton {
//   0% {bottom: -20px;}
//   100% {bottom: -2px;}
// }
//
// @-o-keyframes animationbutton {
//   0% {bottom: -20px;}
//   100% {bottom: -2px;}
// }
//
// @keyframes animationbutton {
//   0% {bottom: -20px;}
//   100% {bottom: -2px;}
// }

.display-none {
  display: none;
}

.button-fix {
  width: 100%;
  // position: relative;
  // margin-bottom: -4px;
  // margin: 0;
  transition: all ease 0.2s;
  // animation: animationbutton 1s;
  .reservar {
    width: 100%;
    display: block;
    margin: 0;
    font-size: 15px;
    padding: 16px 0;
    font-weight: 700;
    color: white;
    background: linear-gradient(108.43deg, #259F06 11.38%, #35AF17 63.4%);
    background-size: 300% 300%;
    -webkit-animation: buttonGradientSuccess 3s ease infinite;
    -moz-animation: buttonGradientSuccess 3s ease infinite;
    -o-animation: buttonGradientSuccess 3s ease infinite;
    animation: buttonGradientSuccess 3s ease infinite;
  }
}


@-webkit-keyframes animationbuttonIOS {
  0% {
    bottom: -20px;
  }
  100% {
    bottom: 50px;
  }
}

@keyframes animationbuttonIOS {
  0% {
    bottom: -20px;
  }
  100% {
    bottom: 50px;
  }
}

.button-fix-ios {
  position: fixed;
  width: 100%;
  bottom: 50px;
  margin: 0;
  left: 0;
  right: 0;
  transition: all ease 0.2s;
  animation: animationbuttonIOS 1s;
  .reservar {
    width: 100%;
    display: block;
    margin: 0;
    font-size: 15px;
    padding: 16px 0;
    font-weight: 700;
    color: white;
    background: linear-gradient(108.43deg, #259F06 11.38%, #35AF17 63.4%);
    background-size: 300% 300%;
    -webkit-animation: buttonGradientSuccess 3s ease infinite;
    -moz-animation: buttonGradientSuccess 3s ease infinite;
    -o-animation: buttonGradientSuccess 3s ease infinite;
    animation: buttonGradientSuccess 3s ease infinite;
  }
}

.modal-confirm {
  // width: 80%;
  // height: 60%;
  background: rgba(0, 0, 0, 0.3);
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  color: white;
  // background: linear-gradient(108.4deg, #FC0F85 6.69%, #9300AB 88.08%) !important;
  // box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  // border-radius: 2px;
  .modal-wrapper {
    width: 80%;
    height: 300px;
    background: linear-gradient(108.4deg, #FC0F85 6.69%, #9300AB 88.08%) !important;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
  }
}

.confirm-modal-content {
  height: 100%;
  padding: 16px 14px 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  ion-icon {
    font-size: 90px;
    margin-bottom: 12px;
    width: 100%;
  }
  h1 {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin: 0;
    margin-bottom: 15px;
    width: 100%;
  }
  p {
    font-size: 14px;
    display: block;
    text-align: center;
    margin-top: 0;
    margin-bottom: 22px;
    width: 100%;
  }
  .confirm-modal-button {
    background: #2CB70A;
    padding: 9px 22px;
    margin: 0 4px;
    color: white;
    border-radius: 2px;
    font-weight: 700;
  }
  .confirm-modal-button-cancel {
    background: linear-gradient(92.33deg, #FF3F33 1.14%, #D41D12 99.87%);
  }
}
