<app-navbar titulo="Nueva Reserva"></app-navbar>

<ion-content padding>

  <!-- <ion-button (click)="goToAddHour()"></ion-button> -->
  <div class="reserva">

    <h1 class="titleReserva-section">Selecciona<br>un día</h1>

    <div class="section grid-days">


      <div class="item-day" text-center (click)="goToAddHour(week[1]?.date)" [ngClass]="{'today' : week[1]?.today}">
        <p>{{week[1]?.dayName}}</p>
        <h1>{{week[1]?.day}}</h1>
      </div>
      <div class="item-day" text-center (click)="goToAddHour(week[2]?.date)" [ngClass]="{'today' : week[2]?.today}">
        <p>{{week[2]?.dayName}}</p>
        <h1>{{week[2]?.day}}</h1>
      </div>
      <div class="item-day" text-center (click)="goToAddHour(week[3]?.date)" [ngClass]="{'today' : week[3]?.today}">
        <p>{{week[3]?.dayName}}</p>
        <h1>{{week[3]?.day}}</h1>
      </div>
      <div class="item-day today" text-center (click)="goToAddHour(week[4]?.date)" [ngClass]="{'today' : week[4]?.today}">
        <p>{{week[4]?.dayName}}</p>
        <h1>{{week[4]?.day}}</h1>
      </div>
      <div class="item-day" text-center (click)="goToAddHour(week[5]?.date)" [ngClass]="{'today' : week[5]?.today}">
        <p>{{week[5]?.dayName}}</p>
        <h1>{{week[5]?.day}}</h1>
      </div>
      <div class="item-day" text-center (click)="goToAddHour(week[6]?.date)" [ngClass]="{'today' : week[6]?.today}">
        <p>{{week[6]?.dayName}}</p>
        <h1>{{week[6]?.day}}</h1>
      </div>

    </div>

  </div>

</ion-content>
