<app-navbar titulo="Nueva Reserva"></app-navbar>

<ion-content padding>

  <div class="reserva">

    <h1 class="titleReserva-section">Cambiar hora para el <span class="sky-gradient">Viernes 14</span></h1>

    <div class="section grid-hours">
      <div class="item-hour" text-center (click)="goToAddConfirm()">
        <p>
          <b>07:00 - 08:00</b><br>
          0 / 22
        </p>
      </div>
      <div class="item-hour" text-center (click)="goToAddConfirm()">
        <p>
          <b>08:00 - 09:00</b><br>
          0 / 22
        </p>
      </div>
      <div class="item-hour" text-center (click)="goToAddConfirm()">
        <p>
          <b>09:00 - 10:00</b><br>
          0 / 22
        </p>
      </div>
      <div class="item-hour" text-center (click)="goToAddConfirm()">
        <p>
          <b>10:00 - 11:00</b><br>
          0 / 22
        </p>
      </div>
      <div class="item-hour" text-center (click)="goToAddConfirm()">
        <p>
          <b>12:00 - 13:00</b><br>
          0 / 22
        </p>
      </div>
      <div class="item-hour" text-center (click)="goToAddConfirm()">
        <p>
          <b>17:00 - 18:00</b><br>
          0 / 22
        </p>
      </div>
      <div class="item-hour" text-center (click)="goToAddConfirm()">
        <p>
          <b>18:00 - 19:00</b><br>
          0 / 22
        </p>
      </div>
      <div class="item-hour" text-center (click)="goToAddConfirm()">
        <p>
          <b>19:00 - 20:00</b><br>
          0 / 22
        </p>
      </div>
      <div class="item-hour" text-center (click)="goToAddConfirm()">
        <p>
          <b>20:00 - 21:00</b><br>
          0 / 22
        </p>
      </div>
      <div class="item-hour" text-center (click)="goToAddConfirm()">
        <p>
          <b>21:00 - 22:00</b><br>
          0 / 22
        </p>
      </div>
    </div>
  </div>

</ion-content>
