<app-navbar titulo="Tus Clases"></app-navbar>

<ion-content padding>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Arrastra para actualizar"
      refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>

  <div class="section">
    <h1 class="title-section">Hoy</h1>
    <div class="clases-cards" *ngFor="let wod of todayWods" (click)="goTo(wod)">
      <div class="clase-card today" >
        <div class="ps-row" align-items-center>
          <div class="col-3 class-type">
            <img class="class-icon" [src]="wod.rels.claseType.iconWhite">
          </div>
          <div class="col-10 class-data">
            <h2 style="margin-bottom: 4px; text-transform: capitalize;">{{wod.claseType}}</h2>
            <!-- <p class="type-class">{{wod.claseType}}</p> -->
            <div *ngIf="wod.rels.auth.reservationHas">
              <p *ngIf="wod.rels.auth.todayReservation.status ==1">
                Tienes una clase sin confirmar a las {{wod.rels.auth.todayReservation.start}}
              </p>
              <p *ngIf="wod.rels.auth.todayReservation.status ==2">
                Tienes una clase a las {{wod.rels.auth.todayReservation.start}}
              </p>
              <p *ngIf="wod.rels.auth.todayReservation.status ==3">
                Tuviste clase a las {{wod.rels.auth.todayReservation.start}}
              </p>
              <p *ngIf="wod.rels.auth.todayReservation.status ==4">
                Perdiste tu clase a las {{wod.rels.auth.todayReservation.start}}
              </p>
            </div>
            <div *ngIf="!wod.rels.auth.reservationHas">
              <p >No tienes clases reservadas hoy</p>
            </div>
          </div>
          <div class="col-2">
            <ion-icon src="assets/icon/arrow-right.svg"></ion-icon>
          </div>

        </div>
      </div>
    </div>


    <!-- <div class="clases-cards">
      <div class="clase-card today" (click)="irAClaseHoy(today?.auth_reservation?.has)">

          <div class="ps-row" align-items-center>
            <div class="col-3 class-type">
              <img class="class-icon" >
            </div>
            <div class="col-10 class-data">
              <h2>{{today?.dateHuman}}</h2>
              <p class="type-class">CrossFit</p>
              <div *ngIf="today?.auth_reservation?.has">
                <p *ngIf="today.auth_reservation.reservation.status ==1">
                  Tienes una clase sin confirmar a las {{today?.auth_reservation?.reservation.start}}
                </p>
                <p *ngIf="today.auth_reservation.reservation.status ==2">
                  Tienes una clase a las {{today?.auth_reservation?.reservation.start}}
                </p>
                <p *ngIf="today.auth_reservation.reservation.status ==3">
                  Tuviste clase a las {{today?.auth_reservation?.reservation.start}}
                </p>
                <p *ngIf="today.auth_reservation.reservation.status ==4">
                  Perdiste tu clase a las {{today?.auth_reservation?.reservation.start}}
                </p>
              </div>
              <div *ngIf="!today?.auth_reservation?.has">
                <p >No tienes clases Reservadas hoy</p>
               </div>
            </div>
            <div class="col-2">
              <ion-icon src="assets/icon/arrow-right.svg"></ion-icon>
            </div>
          </div>

      </div>
    </div> -->

  </div>

  <!-- <hr class="separator"> -->

  <div class="section">
    <h1 class="title-section">Clases Anteriores</h1>
    <div class="clases-cards">
      <div class="clase-card" *ngFor="let clase of clases" (click)="goClase(clase.clase_id)">
        <div class="ps-row" align-items-center>
          <div class="col-3 class-type">
            <img class="class-icon" [src]="clase.rels.claseType.icon">
          </div>
          <div class="col-10 class-data">
            <h2>{{clase.dateHuman}}</h2>
            <p class="type-class">CrossFit</p>
            <p>{{clase.start}} - {{clase.end}} hrs</p>
          </div>
          <div class="col-2">
            <ion-icon src="assets/icon/arrow-right-black.svg"></ion-icon>
          </div>
        </div>
      </div>

    </div>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreClases($event)">
       <ion-infinite-scroll-content
         loadingSpinner="bubbles"
         loadingText="Cargando clases...">
       </ion-infinite-scroll-content>
     </ion-infinite-scroll>
  </div>

</ion-content>

<!--











 -->
