<app-navbar titulo="Tus Clases"></app-navbar>

<ion-content padding>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Arrastra para actualizar"
      refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>

  <div class="section">
    <h1 class="title-section">Hoy</h1>

    <div class="clases-cards">
      <!-- <ion-button >Link</ion-button> -->
      <div class="clase-card today" (click)="irAClaseHoy(today?.auth_reservation?.has)">

          <div class="ps-row" align-items-center>
            <div class="col-10">
              <h2>{{today?.dateHuman}}</h2>
              <div *ngIf="today?.auth_reservation?.has">
                <p *ngIf="today.auth_reservation.reservation.status ==1">
                  Tienes una clase sin confirmar a las {{today?.auth_reservation?.reservation.start}}
                </p>
                <p *ngIf="today.auth_reservation.reservation.status ==2">
                  Tienes una clase a las {{today?.auth_reservation?.reservation.start}}
                </p>
                <p *ngIf="today.auth_reservation.reservation.status ==3">
                  Tuviste clase a las {{today?.auth_reservation?.reservation.start}}
                </p>
                <p *ngIf="today.auth_reservation.reservation.status ==4">
                  Perdiste tu clase a las {{today?.auth_reservation?.reservation.start}}
                </p>
              </div>
              <div *ngIf="!today?.auth_reservation?.has">
                <p >No tienes clases Reservadas hoy</p>
               </div>

            </div>
            <div class="col-2">
              <ion-icon src="assets/icon/arrow-right.svg"></ion-icon>
              <!-- <ion-icon src="assets/icon/arrow-right.svg"></ion-icon> -->
            </div>
          </div>

      </div>
    </div>

  </div>

  <div class="section">
    <h1 class="title-section">Clases Anteriores</h1>
    <div class="clases-cards">
      <div class="clase-card" *ngFor="let clase of clases" (click)="irAClase(clase.clase_id)">
        <div class="ps-row" align-items-center>
          <div class="col-10">
            <h2>{{clase.dateHuman}}  </h2>
            <p>{{clase.start}} - {{clase.end}} hrs</p>
          </div>
          <div class="col-2">
            <ion-icon src="assets/icon/arrow-right-black.svg"></ion-icon>
          </div>
        </div>
      </div>

    </div>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreClases($event)">
       <ion-infinite-scroll-content
         loadingSpinner="bubbles"
         loadingText="Cargando clases...">
       </ion-infinite-scroll-content>
     </ion-infinite-scroll>
  </div>

</ion-content>
