<app-navbar titulo="Tus Clases"></app-navbar>

<ion-content padding>

  <div class="section">
    <h1 class="title-section">Hoy</h1>

    <div class="clases-cards">
      <!-- <ion-button >Link</ion-button> -->
      <div class="clase-card today" (click)="irAClaseHoy(today?.auth_reservation?.has)">
        <ion-grid>
          <ion-row align-items-center>
            <ion-col size="11">
              <h2>{{today?.dateHuman}}</h2>
              <p *ngIf="today?.auth_reservation?.has">Tienes Reservada una clase a las {{today?.auth_reservation?.reservation.start}}</p>
              <p *ngIf="!today?.auth_reservation?.has">No tienes clases Reservadas</p>
            </ion-col>
            <ion-col size="1">
              <ion-icon name="arrow-dropright"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>

  </div>

  <div class="section">
    <h1 class="title-section">Clases Anteriores</h1>
    <div class="clases-cards">
      <div class="clase-card" *ngFor="let clase of clases" (click)="irAClase(clase.clase_id)">
        <ion-grid>
          <ion-row align-items-center>
            <ion-col size="11">
              <h2>{{clase.dateHuman}}  </h2>
              <p>{{clase.start}} - {{clase.end}} hrs</p>
            </ion-col>
            <ion-col size="1">
              <ion-icon name="arrow-dropright"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

    </div>
  </div>

</ion-content>
