<app-navbar titulo="Planes y Pagos"></app-navbar>

<ion-content padding>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Arrastra para actualizar"
      refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>

  <div class="section">

    <div class="title-grid">
      <h1 class="title-section">Plan Actual</h1>
      <div class="option click-ver-pagos" (click)="goToHistorial()">
        <img src="/assets/icon/pay-historial.svg">
        <p>Ver Pagos</p>
      </div>
    </div>
    <div class="card-plan actual">
      <div class="ps-row plan-up">
        <div class="col-8">
          <h2>Plan Full Fit</h2>
          <h5>Mensual</h5>
        </div>
        <div class="col-4" text-end>
          <div class="status active">
            Activo
          </div>
        </div>
      </div>
      <div align-items-end class="ps-row plan-bottom">
        <div class="col-9">
          <p>
            <b>Contratado el</b><br>
            21 de Junio de 2019
          </p>
          <p>
            <b>Vence el</b><br>
            21 de Julio de 2019
          </p>
        </div>
        <div class="col-3" text-end>
          <h4>$45.000</h4>
        </div>
      </div>
    </div>
    <button class="button-confirm" (click)="goToDetail()">Renovar este Plan</button>

  </div>

  <div class="separator separator-plan"></div>

  <div class="section">

    <div class="title-grid">
      <h1 class="title-section">Planes</h1>
      <div class="option click-ver-filtros">
        <ion-select [interfaceOptions]="customAlertOptions" value="CrossFit" okText="Ok" cancelText="Cancelar">
          <ion-select-option *ngFor="let class of classes">{{class.name}}</ion-select-option>
        </ion-select>
      </div>
    </div>

    <div class="items-filter">
      <div class="item">
        <img src="/assets/icon/filter-icon-1.svg">
        <h6>Mensual</h6>
      </div>
      <div class="item">
        <img src="/assets/icon/filter-icon-1.svg">
        <h6>Trimestral</h6>
      </div>
      <div class="item">
        <img src="/assets/icon/filter-icon-1.svg">
        <h6>Semestral</h6>
      </div>
      <div class="item">
        <img src="/assets/icon/filter-icon-1.svg">
        <h6>Anual</h6>
      </div>
    </div>

    <div class="plans-items">
      <!-- Aquí se listan los Planes -->
      <div class="card-plan clickable" (click)="goToDetail()">
        <div class="ps-row plan-up">
          <div class="col-9">
            <h2>Plan 12 Sesiones</h2>
          </div>
          <div class="col-3" text-end>
            <h4>$40.000</h4>
          </div>
        </div>
      </div>
      <div class="card-plan clickable" (click)="goToDetail()">
        <div class="ps-row plan-up">
          <div class="col-9">
            <h2>Plan Full AM</h2>
          </div>
          <div class="col-3" text-end>
            <h4>$30.000</h4>
          </div>
        </div>
      </div>
      <div class="card-plan clickable" (click)="goToDetail()">
        <div class="ps-row plan-up">
          <div class="col-9">
            <h2>Plan Estudiantes</h2>
          </div>
          <div class="col-3" text-end>
            <h4>$25.990</h4>
          </div>
        </div>
      </div>
      <div class="card-plan clickable" (click)="goToDetail()">
        <div class="ps-row plan-up">
          <div class="col-9">
            <h2>Pase Diario</h2>
          </div>
          <div class="col-3" text-end>
            <h4>$5.000</h4>
          </div>
        </div>
      </div>
    </div>

  </div>
</ion-content>
