<app-navbar titulo="Planes y Pagos"></app-navbar>

<ion-content padding>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Arrastra para actualizar"
      refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>

  <div class="section">

    <div class="title-grid">
      <h1 class="title-section">Plan Actual</h1>
      <div class="option click-ver-pagos" (click)="goToHistorial()">
        <!-- <img src="/assets/icon/pay-historial.svg"> -->
        <p>Historial</p>
      </div>
    </div>
    <!-- Si tiene plan activo -->
    <div class="card-plan actual" >
      <div class="ps-row plan-up">
        <div class="col-7">
          <h2>{{userActualPlan?.rels?.plan.name}}</h2>
          <h5>{{userActualPlan?.rels?.plan.period}}</h5>
        </div>
        <div class="col-5" text-end>
          <div class="status finished">
            {{userActualPlan?.status?.name}}
          </div>
        </div>
      </div>
      <div align-items-end class="ps-row plan-bottom">
        <div class="col-8">
          <p>
            <b>Contratado el</b><br>
            {{userActualPlan?.inicio}}
          </p>
          <p>
            <b>Vencimiento el</b><br>
            {{userActualPlan?.vencimiento}}
          </p>
        </div>
        <div class="col-5 amount" text-end *ngIf="userActualPlan?.rels?.bill.has">
          <h4>{{userActualPlan?.rels?.bill.amount}}</h4>
        </div>
      </div>
    </div>
    <button class="button-confirm" (click)="goToDetail(userActualPlan?.rels?.plan.id)" *ngIf="userActualPlan?.canContract">Renovar este Plan</button>

    <!-- Si no tiene plan activo -->
    <!-- <div class="card-plan no-plan">
      <div>
        No tienes un plan activo.<br>
        Puedes comprar un plan a continuación
      </div>
    </div> -->

  </div>

  <div class="separator separator-plan"></div>

  <div class="section">

    <div class="title-grid">
      <h1 class="title-section">Planes</h1>
      <div class="option click-ver-filtros">
        <!-- <ion-select [interfaceOptions]="customAlertOptions" value="CrossFit" okText="Ok" cancelText="Cancelar">
          <ion-select-option *ngFor="let class of classes">{{class.name}}</ion-select-option>
        </ion-select> -->
      </div>
    </div>

    <div class="items-filter">
      <div class="item" [ngClass]="{'active': selectedFilter1}" (click)="planFilter(1)" >
        <img class="normal" src="/assets/icon/filter-monthly.svg">
        <img class="active" src="/assets/icon/filter-monthly-selected.svg">
        <h6 class="normal">Mensual</h6>
        <h6 class="active">Mensual</h6>
      </div>
      <div class="item" [ngClass]="{'active': selectedFilter3}" (click)="planFilter(3)">
        <img class="normal" src="/assets/icon/filter-quarterly.svg">
        <img class="active" src="/assets/icon/filter-quarterly-selected.svg">
        <h6 class="normal">Trimestral</h6>
        <h6 class="active">Trimestral</h6>
      </div>
      <div class="item" [ngClass]="{'active': selectedFilter5}" (click)="planFilter(5)">
        <img class="normal" src="/assets/icon/filter-biannual.svg">
        <img class="active" src="/assets/icon/filter-biannual-selected.svg">
        <h6 class="normal">Semestral</h6>
        <h6 class="active">Semestral</h6>
      </div>
      <div class="item" [ngClass]="{'active': selectedFilter6}" (click)="planFilter(6)">
        <img class="normal" src="/assets/icon/filter-annual.svg">
        <img class="active" src="/assets/icon/filter-annual-selected.svg">
        <h6 class="normal">Anual</h6>
        <h6 class="active">Anual</h6>
      </div>
    </div>

    <div class="plans-items">
      <!-- Aquí se listan los Planes -->
      <div class="card-plan clickable" (click)="goToDetail(plan?.id)" *ngFor="let plan of filteredPlans">
        <div class="ps-row plan-up" >
          <div class="col-8">
            <h2>{{plan?.name}}</h2>
          </div>
          <div class="col-4 amount" text-end>
            <h4>${{plan?.amount}}</h4>
          </div>
        </div>
      </div>

    </div>

  </div>
</ion-content>
