<ion-slides pager="true">

  <ion-slide class="item-slide">
    <h1>Bienvenid@ a la app de Pura Sangre CrossFit<br><span>🎉🙌</span></h1>
    <p>Desliza para conocer tu nueva app</p>
  </ion-slide>

  <ion-slide class="item-slide">
    <ion-img src="/assets/img/t1.gif"></ion-img>
    <h1>Dashboard</h1>
    <p>Aquí podrás ver un resumen de tus clases, tu perfil y el W.O.D</p>
  </ion-slide>

  <ion-slide class="item-slide">
    <ion-img src="/assets/img/t2.gif"></ion-img>
    <h1>Tu Perfil</h1>
    <p>Aquí puedes cambiar tu avatar y ver tu información personal.</p>
  </ion-slide>

  <ion-slide class="item-slide">
    <ion-img src="/assets/img/t3.gif"></ion-img>
    <h1>Reservar tu Clase</h1>
    <p>Reserva horas en el box eligiendo la fecha y la hora. Luego de reservar puedes confirmar tu asistencia o ceder tu cupo.</p>
  </ion-slide>

  <ion-slide class="item-slide">
    <ion-img src="/assets/img/t4.gif"></ion-img>
    <h1>Confirma tu Asistencia</h1>
    <p>Luego de reservar debes confirmar la hora en que asistirás al box. Recuerda que al confirmar ya no podrás ceder tu cupo.</p>
  </ion-slide>

  <ion-slide class="item-slide">
    <ion-img src="/assets/img/t5.gif"></ion-img>
    <h1>Tus Clases</h1>
    <p>Navega por la clase de hoy y las pasadas. Guarda notas de tus clases y revisa el Workout.</p>
  </ion-slide>

  <ion-slide class="item-slide">
    <ion-img src="/assets/img/t6.gif"></ion-img>
    <h1>Tus Pagos</h1>
    <p>Aquí encontrarás un historial de tus pagos realizados.</p>
    <div class="buttons">
      <a class="button-start" href="#" (click)="finish()">Listo</a>
    </div>
  </ion-slide>

</ion-slides>
