<ion-slides pager="true">

  <ion-slide class="item-slide">
    <!-- <ion-img src="/assets/img/ps_logo.png"></ion-img> -->
    <h1>Bienvenid@ a la app de Pura Sangre CrossFit<br><span>🎉🙌</span></h1>
    <p>Desliza para conocer tu nueva app</p>
  </ion-slide>

  <ion-slide class="item-slide">
    <ion-img src="/assets/img/t1.gif"></ion-img>
    <h1>Dashboard</h1>
    <p>Aquí podrás ver un resumen de tus clases, tu perfil y el W.O.D</p>
  </ion-slide>

  <ion-slide class="item-slide">
    <ion-img src="/assets/img/t2.gif"></ion-img>
    <h1>Tus Reservas</h1>
    <p>Reserva horas en el box y confirmalas antes de asistir</p>
  </ion-slide>

  <ion-slide class="item-slide">
    <ion-img src="/assets/img/t3.gif"></ion-img>
    <h1>Tus Clases</h1>
    <p>Navega por la clase de hoy y las pasadas. Guarda notas de tus clases y revisa el Workout</p>
  </ion-slide>

  <ion-slide class="item-slide">
    <ion-img src="/assets/img/t4.gif"></ion-img>
    <h1>Tu Pagos</h1>
    <p>Aquí podrás revisar tus pagos anteriores</p>
    <a class="button-start" href="#" (click)="finish()">Comienza ahora</a>
  </ion-slide>

</ion-slides>
