<app-navbar titulo="Clase"></app-navbar>

<ion-content padding>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Arrastra para actualizar"
      refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>

  <div class="clase-page">

    <div class="section">
      <!-- <h4 class="hour-section">{{clase.typeName}}</h4> -->
      <h1 class="titleDay-section">{{clase.dateHuman}}, {{clase.year}}</h1>
      <h4 class="hour-section">
        {{clase.typeName}}<br>
        {{clase.start}} - {{clase.end}} hrs
      </h4>
    </div>

    <hr class="separator">

    <div class="section notes">
      <h1 class="title-section">Notas</h1>
      <div class="card card-resumen no-shadow">
        <textarea [(ngModel)]="textModel" id="inputEdit" type="text" class="input-notas-day" ></textarea>
      </div>
      <button class="button-wod-today button-success" (click)="saveDetails()">Guardar Nota</button>
    </div>

    <hr class="separator">

    <div class="section">
      <h1 class="title-section">Workout del Día</h1>
      <div class="card card-info">
        <div class="info-content">
            <div *ngFor="let stage of stages">
                <h3>{{stage.stageType }}</h3>
                <p>{{stage.description }}</p>
            </div>

        </div>
      </div>

    </div>

    <hr class="separator">


    <div class="section">
      <h1 class="title-section">Crossfiters</h1>
      <div class="card card-crossfiters">
        <!-- <div class="title">
          <h5>Crossfiters en esta Clase</h5>
        </div> -->
        <div class="content">

          <div class="ps-row item-crossfiters" *ngFor="let reservation of reservations" >
            <div class="col-2 item-img">
              <img src="{{reservation?.rels.user.avatar}}" tappable (click)="openPreview(reservation?.rels.user.avatar)">
            </div>
            <div class="col-10 item-data">
              <h6>{{reservation?.rels.user.first_name}} {{reservation?.rels.user.last_name}}</h6>
              <p>{{reservation?.status}}</p>
            </div>
          </div>

        </div>
      </div>

      <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreUsers($event)">
         <ion-infinite-scroll-content
           loadingSpinner="bubbles"
           loadingText="Cargando usuarios...">
         </ion-infinite-scroll-content>
       </ion-infinite-scroll>
    </div>

  </div>

</ion-content>
