<app-navbar titulo="Clase"></app-navbar>

<ion-content padding>

  <div class="clase-page">

    <div class="section">
      <h1 class="titleDay-section">{{clase.dateHuman}}, {{clase.year}}</h1>
      <h4 class="hour-section">{{clase.start}} - {{clase.end}} hrs</h4>
    </div>

    <div class="section">
      <h1 class="title-section">Notas</h1>
      <div class="card card-resumen">
        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni necessitatibus aut, totam suscipit placeat doloremque explicabo, qui temporibus veniam ullam reprehenderit provident? Sapiente culpa tempore qui beatae distinctio voluptatibus voluptates?</p> -->
        <textarea [(ngModel)]="textModel" id="inputEdit" type="text" class="input-notas-day" ></textarea>
        <button class="button-bottom button-success" (click)="saveDetails()">Editar Nota</button>
      </div>
    </div>

    <div class="section">
      <h1 class="title-section">Workout del Día</h1>
      <div class="card card-info">
        <div class="info-content">
          <h3>Warm Up</h3>
          <p>
            {{wod?.rels?.stages.warmup }}
          </p>
          <h3>SKILLS</h3>
          <p>
            {{wod?.rels?.stages.skill }}
          </p>
          <h3>W.O.D.</h3>
          <p>
            {{wod?.rels?.stages.wod }}|
          </p>
        </div>
      </div>
    </div>

  </div>

</ion-content>
