<app-navbar titulo="Reserva"></app-navbar>

<ion-content padding>

  <div class="reserva">
    <h1 class="titleReserva-section margin-bottom">
      Reserva {{clase.rels?.auth_reservation.status}}
    </h1>
    <h4 class="date-section">
      {{clase.dateHuman}} de {{clase.start}} - {{clase.end}} hrs
    </h4>

    <div class="cupos">
      <h5>Cupos</h5>
      <div class="cupos-wrapper">
        <ion-col size="5" class="cupos-item">{{clase.quota - clase.rels?.users.count}} Disponibles</ion-col>
        <ion-col size="7" class="cupos-item">{{clase.rels?.users.count}} Reservados</ion-col>
      </div>
    </div>

    <div class="buttons-edit-reserva">
      <!-- <button class="button-edit" (click)="goToEditHour(this.clase.date)">Cambiar hora</button> -->
      <button *ngIf="clase.rels?.auth_reservation.status === 'Pendiente'" class="button-edit" (click)="openModalCeder()">Ceder cupo</button>
    </div>

    <div class="card card-crossfiters">
      <div class="title">
        <h5>Crossfiters en esta Clase</h5>
      </div>
      <div class="content">
        <ion-grid>
          <ion-row class="item-crossfiters" *ngFor="let user of users" >
            <ion-col size="2" class="item-img">
              <img src="{{user.avatar}}">
            </ion-col>
            <ion-col size="10" class="item-data">
              <h6>{{user.nombre}}</h6>
              <p>Atleta hace 1 año</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>

  <div [ngClass]="buttonFixIOS" *ngIf="clase.rels?.auth_reservation.status === 'Pendiente'">
    <button class="reservar" (click)="openModal()">Confirmar asistencia</button>
  </div>

</ion-content>

<ion-footer>
  <div [ngClass]="buttonFixAndroid" *ngIf="clase.rels?.auth_reservation.status === 'Pendiente'">
    <button class="reservar" (click)="openModal()">Confirmar asistencia</button>
  </div>
</ion-footer>
