<app-navbar titulo="Editar Reserva"></app-navbar>

<ion-content padding>

  <div class="reserva">
    <h1 class="titleReserva-section margin-bottom">
      Estás a un paso de reservar
    </h1>
    <h4 class="date-section">
      Viernes 13 de 19:00 - 20:00 hrs
    </h4>

    <div class="cupos">
      <h5>Cupos</h5>
      <div class="cupos-wrapper">
        <ion-col size="5" class="cupos-item">17 Disponibles</ion-col>
        <ion-col size="7" class="cupos-item">05 Reservados</ion-col>
      </div>
    </div>

    <div class="card card-crossfiters">
      <div class="title">
        <h5>Crossfiters en esta Clase</h5>
      </div>
      <div class="content">
        <ion-grid>

          <ion-row class="item-crossfiters">
            <ion-col size="2" class="item-img">
              <img src="assets/img/image.jpg">
            </ion-col>
            <ion-col size="10" class="item-data">
              <h6>Francisco Inostroza</h6>
              <p>Atleta hace 1 año</p>
            </ion-col>
          </ion-row>

          <ion-row class="item-crossfiters">
            <ion-col size="2" class="item-img">
              <img src="assets/img/image.jpg">
            </ion-col>
            <ion-col size="10" class="item-data">
              <h6>Francisco Inostroza</h6>
              <p>Atleta hace 1 año</p>
            </ion-col>
          </ion-row>

          <ion-row class="item-crossfiters">
            <ion-col size="2" class="item-img">
              <img src="assets/img/image.jpg">
            </ion-col>
            <ion-col size="10" class="item-data">
              <h6>Francisco Inostroza</h6>
              <p>Atleta hace 1 año</p>
            </ion-col>
          </ion-row>

          <ion-row class="item-crossfiters">
            <ion-col size="2" class="item-img">
              <img src="assets/img/image.jpg">
            </ion-col>
            <ion-col size="10" class="item-data">
              <h6>Francisco Inostroza</h6>
              <p>Atleta hace 1 año</p>
            </ion-col>
          </ion-row>

          <ion-row class="item-crossfiters">
            <ion-col size="2" class="item-img">
              <img src="assets/img/image.jpg">
            </ion-col>
            <ion-col size="10" class="item-data">
              <h6>Francisco Inostroza</h6>
              <p>Atleta hace 1 año</p>
            </ion-col>
          </ion-row>

          <ion-row class="item-crossfiters">
            <ion-col size="2" class="item-img">
              <img src="assets/img/image.jpg">
            </ion-col>
            <ion-col size="10" class="item-data">
              <h6>Francisco Inostroza</h6>
              <p>Atleta hace 1 año</p>
            </ion-col>
          </ion-row>

        </ion-grid>
      </div>
    </div>
  </div>


</ion-content>

<ion-footer>
  <div class="button-fix">
    <button class="reservar" (click)="goToAddDay()">Nueva Reserva</button>
  </div>
</ion-footer>
