<app-navbar titulo="Tus Reservas"></app-navbar>

<ion-content padding>

  <!-- <ion-fab vertical="bottom" horizontal="start" edge slot="fixed">
     <ion-fab-button>
       <ion-icon name="settings"></ion-icon>
     </ion-fab-button>
     <ion-fab-list side="end">
       <ion-fab-button><ion-icon name="logo-vimeo"></ion-icon></ion-fab-button>
     </ion-fab-list>
   </ion-fab> -->

  <div class="card card-alert">
    <ion-grid>
      <ion-row>
        <ion-col size="2">
          <ion-icon name="information-circle"></ion-icon>
        </ion-col>
        <ion-col class="text">
          <p>
            Tienes una clase reservada a las 19:00hrs ¡Confírma tu asistencia!
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="section">
    <h1 class="title-section">Próximas Reservas</h1>
    <div class="clases-cards">
      <div class="clase-card today" (click)="goToEditConfirm()">
        <ion-grid>
          <ion-row align-items-center>
            <ion-col size="11">
              <h2>Martes 10</h2>
              <p>18:00 - 19:00 hrs</p>
            </ion-col>
            <ion-col size="1">
              <ion-icon name="arrow-dropright"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div class="clase-card" (click)="goToEditConfirm()">
        <ion-grid>
          <ion-row align-items-center>
            <ion-col size="11">
              <h2>Viernes 13</h2>
              <p>18:00 - 19:00 hrs</p>
            </ion-col>
            <ion-col size="1">
              <ion-icon name="arrow-dropright"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div class="clase-card" (click)="goToEditConfirm()">
        <ion-grid>
          <ion-row align-items-center>
            <ion-col size="11">
              <h2>Martes 17</h2>
              <p>18:00 - 19:00 hrs</p>
            </ion-col>
            <ion-col size="1">
              <ion-icon name="arrow-dropright"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div class="clase-card" (click)="goToEditConfirm()">
        <ion-grid>
          <ion-row align-items-center>
            <ion-col size="11">
              <h2>Martes 17</h2>
              <p>18:00 - 19:00 hrs</p>
            </ion-col>
            <ion-col size="1">
              <ion-icon name="arrow-dropright"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div class="clase-card" (click)="goToEditConfirm()">
        <ion-grid>
          <ion-row align-items-center>
            <ion-col size="11">
              <h2>Martes 17</h2>
              <p>18:00 - 19:00 hrs</p>
            </ion-col>
            <ion-col size="1">
              <ion-icon name="arrow-dropright"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>

  <div [ngClass]="buttonFixIOS">
    <button class="reservar" (click)="goToAddDay()">Nueva Reserva</button>
  </div>

</ion-content>

<ion-footer>
  <div [ngClass]="buttonFixAndroid">
    <button class="reservar" (click)="goToAddDay()">Nueva Reserva</button>
  </div>
</ion-footer>
